<h1>Listing orders</h1>

<table>
  <tr>
    <th>Fname</th>
    <th>Lname</th>
    <th>Model</th>
    <th>Type</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= order.fname %></td>
    <td><%= order.lname %></td>
    <td><%= order.model %></td>
    <td><%= order.type %></td>
    <td><%= order.price %></td>
    <td><%= link_to 'Show', order %></td>
    <td><%= link_to 'Edit', edit_order_path(order) %></td>
    <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Order', new_order_path %>
