<p id="notice"><%= notice %></p>

<p>
  <b>Fname:</b>
  <%= @order.fname %>
</p>

<p>
  <b>Lname:</b>
  <%= @order.lname %>
</p>

<p>
  <b>Model:</b>
  <%= @order.model %>
</p>

<p>
  <b>Type:</b>
  <%= @order.type %>
</p>

<p>
  <b>Price:</b>
  <%= @order.price %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
