<p id="notice"><%= notice %></p>

<p>
  <b>Model:</b>
  <%= @bike.model %>
</p>

<p>
  <b>Type:</b>
  <%= @bike.type%>
</p>

<p>
  <b>Price:</b>
  <%= @bike.price %>
</p>


<%= link_to 'Edit', edit_bike_path(@bike) %> |
<%= link_to 'Back', bikes_path %>
